*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Segoe UI', sans-serif;
}

body {
scroll-behavior: smooth;
}

header {
background: #111;
padding: 15px 50px;
position: fixed;
width: 100%;
top: 0;
}

nav  {
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
color: rgb(255, 250, 250);
}

nav ul {
display: flex;
}

nav ul li {
list-style: none;
margin-left: 20px;
}

nav ul li a {
color: whitesmoke;
text-decoration: none;
}

.hero {
height: 100vh;

background: linear-gradient(135deg,black, grey);

display: flex;
justify-content: center;
align-items: center;
text-align: center;
color: black;
padding-top: 80px;
}

.hero img {
border-radius: 50%;
margin-bottom: 20px;
}

.hero button {

padding: 10px 20px;
background: white;

color: #0076ff;

border: none;
border-radius: 25px;
cursor: pointer;
margin-top: 15px;

}

.section {
padding: 80px 50px;
text-align: center;
}

.dark {
background: grey;
}

.skills {
max-width: 600px;
margin: auto;
}

.skill {
margin: 20px 0;
}

.bar {
background: white;
height: 10px;
border-radius: 10px;
}

.progress {
height: 10px;
border-radius: 10px;
}

.html { width: 100%; background: black; }
.css  { width: 100%; background: black; }
.js   { width: 100%; background: black; }

.cards {
display: flex;
justify-content: center;
gap: 20px;
flex-wrap: wrap;
}

.card{
background: white;
padding: 20px;
width: 250px;
border-radius: 10px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

footer {
background: #111;
color: white;
text-align: center;
padding: 20px;
}